name: Android CI

on:
  push:
    branches:
      - main
      - release
  pull_request:
    branches:
      - main
      - release

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    container: ghcr.io/syncthing/syncthing-android-builder
    env:
      JAVA_VERSION: "17"
      ANDROID_API_LEVEL: "34"
      ANDROID_BUILD_TOOLS: "34.0.0"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --system --add safe.directory '*'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            jdks

      - name: Build native libraries
        run: |
          java -version
          ./gradlew --stacktrace --no-daemon buildNative

      - name: Run static checks
        run: ./gradlew --stacktrace --no-daemon lint

      - name: Build debug APK
        run: ./gradlew --stacktrace --no-daemon assembleDebug

      - name: Upload debug APK
        uses: actions/upload-artifact@v4
        with:
          name: syncthing-android-debug-${{ github.sha }}
          path: app/build/outputs/apk/debug/app-debug.apk
          if-no-files-found: error

      - name: Upload lint reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: lint-reports-${{ github.sha }}
          path: app/build/reports/
